
.shopping-cart-summary {
  text-align: center;
  width: 80%;
  height: 100%;
  flex-direction: column;
  gap: 3rem
}

.items-table {
  text-align: left;
  width: 100%;
}
.items-table thead th {
  font-weight: 400;
  font-size: smaller;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.items-table tbody td {
  padding: 0.5rem;
  width: auto;
  height: 10rem;
  border-bottom: 1px solid black;
}
.items-table img{
    width: 10rem;
    height: 8rem;
    object-fit: cover;
}
.items-table tfoot th{
  padding: 1rem 6rem 0 0;
  text-align: right;
  font-weight: 500;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item-details p {
  margin: 0;
}

.qty-input-bin-button {
  display: flex;
  
  color:black;
}


.qty-input {
  display: flex;
  border: 1.5px solid black;
  width: 6rem;
  height: 2rem;
}
.qty-input button {
  border: none;
  background-color: white;
  width: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.qty-input p {
  width: 2rem;
  text-align: center;
  border-left: 1px  solid black;
  border-right: 1px  solid black;
}
.qty-input input::-webkit-inner-spin-button, .qty-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}